nodered/flows/ai-control-console.json
[
  {
    "id": "b7c6b2ee8f4047c1",
    "type": "tab",
    "label": "AI Control Console",
    "disabled": false,
    "info": "AI command + result console without extra dashboard plugins"
  },
  {
    "id": "f14d2a1c9e2a45cf",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "b6f1a50ab9324f09",
    "type": "http in",
    "z": "b7c6b2ee8f4047c1",
    "name": "GET /ai-console",
    "url": "/ai-console",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "8e2ef09cb4ea4c95"
      ]
    ]
  },
  {
    "id": "8e2ef09cb4ea4c95",
    "type": "template",
    "z": "b7c6b2ee8f4047c1",
    "name": "AI Console HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "﻿<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>AI Home Console</title>\n  <style>\n    :root {\n      --bg: #0f172a;\n      --card: #111827;\n      --text: #e5e7eb;\n      --muted: #94a3b8;\n      --accent: #22c55e;\n      --warn: #f59e0b;\n      --bad: #ef4444;\n      --line: rgba(148,163,184,0.28);\n      --soft: rgba(148,163,184,0.16);\n    }\n\n    * { box-sizing: border-box; }\n\n    body {\n      margin: 0;\n      font-family: \"Segoe UI\", Tahoma, sans-serif;\n      background: radial-gradient(circle at 20% 10%, #1e293b, var(--bg));\n      color: var(--text);\n    }\n\n    .app {\n      max-width: 900px;\n      margin: 20px auto;\n      padding: 0 14px;\n    }\n\n    .panel {\n      background: linear-gradient(180deg, rgba(255,255,255,0.04), rgba(255,255,255,0.01));\n      border: 1px solid var(--line);\n      border-radius: 14px;\n      padding: 14px;\n      margin-bottom: 12px;\n    }\n\n    .top {\n      display: flex;\n      align-items: center;\n      gap: 12px;\n    }\n\n    .spacer { flex: 1; }\n\n    .avatar {\n      width: 56px;\n      height: 56px;\n      border-radius: 50%;\n      background: radial-gradient(circle at 30% 30%, #60a5fa, #2563eb);\n      display: grid;\n      place-items: center;\n      box-shadow: 0 0 20px rgba(96,165,250,0.45);\n      font-size: 24px;\n    }\n\n    h1 {\n      margin: 0;\n      font-size: 30px;\n      line-height: 1.2;\n    }\n\n    .badge {\n      margin-top: 6px;\n      display: inline-block;\n      padding: 4px 10px;\n      border-radius: 999px;\n      font-size: 12px;\n      border: 1px solid var(--line);\n      color: var(--muted);\n    }\n    .badge.mode-auto { color: #16a34a; border-color: #16a34a; }\n    .badge.mode-ask { color: #f59e0b; border-color: #f59e0b; }\n    .badge.mode-suggest { color: #38bdf8; border-color: #38bdf8; }\n\n    .row {\n      display: flex;\n      gap: 8px;\n      align-items: center;\n      flex-wrap: wrap;\n    }\n\n    input, select, button {\n      border-radius: 10px;\n      border: 1px solid var(--line);\n      background: #0b1220;\n      color: var(--text);\n      padding: 9px 12px;\n      font-size: 15px;\n    }\n\n    input { flex: 1; min-width: 220px; }\n    button { cursor: pointer; }\n    button.primary { background: #1d4ed8; }\n    button.ghost { background: transparent; }\n    button.approve { background: #166534; }\n    button.reject { background: #7f1d1d; }\n    button.quick { min-width: 88px; }\n    button:disabled { opacity: 0.55; cursor: not-allowed; }\n\n    .chat-box {\n      border: 1px solid var(--line);\n      border-radius: 10px;\n      background: rgba(2, 6, 23, 0.35);\n      padding: 10px;\n      min-height: 260px;\n      max-height: 420px;\n      overflow-y: auto;\n      margin-bottom: 8px;\n    }\n\n    .msg {\n      max-width: 82%;\n      margin-bottom: 8px;\n      padding: 9px 11px;\n      border-radius: 10px;\n      font-size: 14px;\n      line-height: 1.42;\n      word-break: break-word;\n    }\n\n    .msg-user {\n      margin-left: auto;\n      background: rgba(37, 99, 235, 0.25);\n      border: 1px solid rgba(59, 130, 246, 0.35);\n    }\n\n    .msg-ai {\n      margin-right: auto;\n      background: rgba(15, 23, 42, 0.85);\n      border: 1px solid var(--line);\n    }\n\n    .msg-meta {\n      color: var(--muted);\n      font-size: 11px;\n      margin-top: 4px;\n    }\n\n    .hint {\n      color: var(--muted);\n      font-size: 12px;\n      min-height: 18px;\n      margin: 4px 0;\n    }\n\n    .status-ok { color: var(--accent); }\n    .status-warn { color: var(--warn); }\n    .status-bad { color: var(--bad); }\n\n    .hidden { display: none; }\n\n    .section-title {\n      margin: 6px 0 10px;\n      font-size: 18px;\n      font-weight: 700;\n    }\n\n    .suggest-item {\n      border: 1px solid var(--soft);\n      border-radius: 10px;\n      padding: 10px;\n      margin-bottom: 8px;\n    }\n\n    .suggest-title { font-weight: 600; margin-bottom: 4px; }\n    .suggest-meta { color: var(--muted); font-size: 12px; margin-bottom: 8px; word-break: break-all; }\n    .mono { font-family: Consolas, monospace; font-size: 12px; white-space: pre-wrap; }\n\n    details summary {\n      cursor: pointer;\n      color: var(--muted);\n      margin-bottom: 8px;\n    }\n\n    .modal-backdrop {\n      position: fixed;\n      inset: 0;\n      background: rgba(2, 6, 23, 0.7);\n      display: none;\n      align-items: center;\n      justify-content: center;\n      z-index: 999;\n      padding: 16px;\n    }\n\n    .modal {\n      width: min(560px, 100%);\n      background: linear-gradient(180deg, rgba(17,24,39,.96), rgba(15,23,42,.96));\n      border: 1px solid var(--line);\n      border-radius: 12px;\n      padding: 14px;\n      box-shadow: 0 16px 45px rgba(0,0,0,.5);\n    }\n\n    .modal h3 { margin: 0 0 8px; }\n    .modal .meta { color: var(--muted); font-size: 12px; margin-bottom: 10px; word-break: break-all; }\n\n    @media (max-width: 640px) {\n      h1 { font-size: 26px; }\n      .avatar { width: 48px; height: 48px; font-size: 22px; }\n      .chat-box { min-height: 220px; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"app\">\n    <div class=\"panel top\">\n      <div class=\"avatar\">^_^</div>\n      <div>\n        <h1>AI Home Control</h1>\n        <div id=\"modeBadge\" class=\"badge mode-auto\">Mode: auto</div>\n      </div>\n      <div class=\"spacer\"></div>\n      <button id=\"toggleControlsBtn\" class=\"ghost\" onclick=\"toggleControls()\">Show controls</button>\n    </div>\n\n    <div class=\"panel\">\n      <div id=\"chatBox\" class=\"chat-box\">\n        <div class=\"msg msg-ai\">\n          Ready. You can ask things like \"turn off plug 2\" or \"what devices do you control?\".\n          <div class=\"msg-meta\">assistant</div>\n        </div>\n      </div>\n      <div id=\"submitStatus\" class=\"hint\"></div>\n      <div class=\"row\">\n        <input id=\"cmd\" placeholder=\"Try: turn off plug 2 or what devices do you control\" />\n        <button id=\"sendBtn\" class=\"primary\" onclick=\"sendCommand()\">Send</button>\n      </div>\n    </div>\n\n    <div id=\"controlsPanel\" class=\"panel hidden\">\n      <div class=\"section-title\">Controls</div>\n\n      <div class=\"row\" id=\"quick\" style=\"margin-bottom:10px;\"></div>\n\n      <div class=\"row\" style=\"margin-bottom:10px;\">\n        <label for=\"mode\">Mode</label>\n        <select id=\"mode\">\n          <option value=\"suggest\">suggest</option>\n          <option value=\"ask\">ask</option>\n          <option value=\"auto\" selected>auto</option>\n        </select>\n        <button onclick=\"setMode()\">Set Mode</button>\n      </div>\n\n      <div class=\"row\" style=\"justify-content: space-between; margin-bottom:6px;\">\n        <div style=\"font-weight:600;\">New Device Suggestions</div>\n        <button class=\"ghost\" onclick=\"clearSuggestions()\">Clear</button>\n      </div>\n      <div id=\"suggestionList\" class=\"hint\" style=\"margin-bottom:10px;\">No suggestions yet.</div>\n\n      <div style=\"font-weight:600; margin-bottom:6px;\">Capabilities</div>\n      <div id=\"capabilities\" class=\"hint\" style=\"margin-bottom:10px;\">Ask: what can xiaomi fan do?</div>\n\n      <details>\n        <summary>Debug raw result</summary>\n        <div id=\"lastStatus\" class=\"mono\">No result yet</div>\n      </details>\n    </div>\n  </div>\n\n  <div id=\"suggestionModalBackdrop\" class=\"modal-backdrop\" onclick=\"closeSuggestionModal(event)\">\n    <div class=\"modal\" onclick=\"event.stopPropagation()\">\n      <h3>Approve New Device</h3>\n      <div id=\"modalEntity\" class=\"meta\"></div>\n      <div class=\"row\" style=\"margin-bottom:10px;\">\n        <label for=\"aliasInput\">Alias</label>\n        <input id=\"aliasInput\" placeholder=\"living room fan\" />\n      </div>\n      <div class=\"row\" style=\"justify-content:flex-end;\">\n        <button class=\"ghost\" onclick=\"closeSuggestionModal()\">Cancel</button>\n        <button class=\"reject\" id=\"modalRejectBtn\">Reject</button>\n        <button class=\"approve\" id=\"modalApproveBtn\">Approve</button>\n      </div>\n    </div>\n  </div>\n\n<script>\nlet isSending = false;\nlet lockUntil = 0;\nlet lastQueuedCommand = '';\nconst suggestions = [];\nconst seenSuggestionKeys = new Set();\nlet modalSuggestion = null;\nlet lastActionResult = null;\nconst chatHistory = [];\nlet lastRenderedSignature = \"\";\nlet controlsVisible = false;\n\nfunction nowMs() {\n  return Date.now();\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? \"\")\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\\\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\nfunction setSubmitStatus(text, level = \"info\") {\n  const el = document.getElementById(\"submitStatus\");\n  if (!el) return;\n  el.textContent = text || \"\";\n  el.className = `hint ${level === \"ok\" ? \"status-ok\" : level === \"warn\" ? \"status-warn\" : level === \"bad\" ? \"status-bad\" : \"\"}`;\n}\n\nfunction pushChat(role, text, meta = \"\") {\n  if (!text) return;\n  chatHistory.push({ role, text: String(text), meta: String(meta || \"\") });\n  if (chatHistory.length > 80) {\n    chatHistory.splice(0, chatHistory.length - 80);\n  }\n  renderChat();\n}\n\nfunction renderChat() {\n  const box = document.getElementById(\"chatBox\");\n  if (!box) return;\n  if (!chatHistory.length) {\n    box.innerHTML = '<div class=\"msg msg-ai\">No chat yet.<div class=\"msg-meta\">assistant</div></div>';\n    return;\n  }\n  box.innerHTML = chatHistory\n    .map((item) => {\n      const cls = item.role === \"user\" ? \"msg msg-user\" : \"msg msg-ai\";\n      const text = escapeHtml(item.text).replace(/\\n/g, \"<br/>\");\n      const meta = escapeHtml(item.meta || (item.role === \"user\" ? \"you\" : \"assistant\"));\n      return `<div class=\"${cls}\">${text}<div class=\"msg-meta\">${meta}</div></div>`;\n    })\n    .join(\"\");\n  box.scrollTop = box.scrollHeight;\n}\n\nfunction setControlsDisabled(disabled) {\n  const sendBtn = document.getElementById(\"sendBtn\");\n  const cmd = document.getElementById(\"cmd\");\n  if (sendBtn) sendBtn.disabled = disabled;\n  if (cmd) cmd.disabled = disabled;\n  document.querySelectorAll(\"#quick button, .approve, .reject\").forEach((btn) => {\n    btn.disabled = disabled;\n  });\n}\n\nfunction enforceLock() {\n  const shouldLock = isSending || nowMs() < lockUntil;\n  setControlsDisabled(shouldLock);\n}\n\nfunction toggleControls() {\n  controlsVisible = !controlsVisible;\n  const panel = document.getElementById(\"controlsPanel\");\n  const btn = document.getElementById(\"toggleControlsBtn\");\n  if (!panel || !btn) return;\n  panel.classList.toggle(\"hidden\", !controlsVisible);\n  btn.textContent = controlsVisible ? \"Hide controls\" : \"Show controls\";\n}\n\nconst quick = document.getElementById(\"quick\");\nfor (let i = 1; i <= 4; i++) {\n  const on = document.createElement(\"button\");\n  on.className = \"quick\";\n  on.textContent = `Plug ${i} ON`;\n  on.onclick = () => postCommand(`turn on plug ${i}`, true);\n  quick.appendChild(on);\n\n  const off = document.createElement(\"button\");\n  off.className = \"quick\";\n  off.textContent = `Plug ${i} OFF`;\n  off.onclick = () => postCommand(`turn off plug ${i}`, true);\n  quick.appendChild(off);\n}\n\nconst cmdInput = document.getElementById(\"cmd\");\ncmdInput.addEventListener(\"keydown\", (event) => {\n  if (event.key === \"Enter\") {\n    event.preventDefault();\n    sendCommand();\n  }\n});\n\nasync function postCommand(command, confirm) {\n  if (!command || isSending || nowMs() < lockUntil) {\n    return false;\n  }\n\n  isSending = true;\n  enforceLock();\n  setSubmitStatus(\"Sending command...\", \"info\");\n  try {\n    const res = await fetch(\"/ai-command\", {\n      method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ command, confirm: !!confirm, source: \"node_red\" })\n    });\n    const body = await res.json();\n    if (!body.ok) {\n      setSubmitStatus(`Rejected by API: ${body.error || \"unknown error\"}`, \"bad\");\n      return false;\n    }\n    lastQueuedCommand = command;\n    lockUntil = nowMs() + 2200;\n    setSubmitStatus(`Queued: ${command}`, \"ok\");\n    pushChat(\"user\", command, \"you\");\n    return true;\n  } catch (err) {\n    setSubmitStatus(`Send failed: ${err}`, \"bad\");\n    return false;\n  } finally {\n    isSending = false;\n    enforceLock();\n  }\n}\n\nfunction sendCommand() {\n  const command = document.getElementById(\"cmd\").value.trim();\n  if (!command) return;\n  postCommand(command, true).then((ok) => {\n    if (ok) {\n      document.getElementById(\"cmd\").value = \"\";\n    }\n  });\n}\n\nasync function setMode() {\n  const mode = document.getElementById(\"mode\").value;\n  await fetch(\"/ai-mode\", {\n    method: \"POST\",\n    headers: { \"Content-Type\": \"application/json\" },\n    body: JSON.stringify({ mode })\n  });\n  pushChat(\"assistant\", `Mode set to ${mode}`, \"assistant\");\n}\n\nfunction clearSuggestions() {\n  suggestions.length = 0;\n  renderSuggestionList();\n}\n\nfunction addSuggestion(suggestion) {\n  const key = `${suggestion.entity_id}|${suggestion.time}`;\n  if (seenSuggestionKeys.has(key)) return;\n  seenSuggestionKeys.add(key);\n  suggestions.unshift(suggestion);\n  if (suggestions.length > 30) suggestions.length = 30;\n  renderSuggestionList();\n  pushChat(\n    \"assistant\",\n    `New device suggestion:\\n${suggestion.entity_id || \"unknown\"}\\nUse approve/reject in controls.`,\n    \"assistant\"\n  );\n  openSuggestionModal(suggestion);\n}\n\nfunction renderSuggestionList() {\n  const list = document.getElementById(\"suggestionList\");\n  if (!list) return;\n  if (!suggestions.length) {\n    list.className = \"hint\";\n    list.textContent = \"No suggestions yet.\";\n    return;\n  }\n  list.className = \"\";\n  list.innerHTML = suggestions\n    .map(\n      (s, idx) => `\n    <div class=\"suggest-item\">\n      <div class=\"suggest-title\">${escapeHtml(s.suggested_alias || s.entity_id || \"new device\")}</div>\n      <div class=\"suggest-meta\">${escapeHtml(s.entity_id || \"\")}</div>\n      <div class=\"row\">\n        <button class=\"approve\" onclick=\"openSuggestionModalByIndex(${idx})\">Approve</button>\n        <button class=\"reject\" onclick=\"quickRejectByIndex(${idx})\">Reject</button>\n      </div>\n    </div>\n  `\n    )\n    .join(\"\");\n  enforceLock();\n}\n\nfunction openSuggestionModalByIndex(index) {\n  const selected = suggestions[index];\n  if (!selected) return;\n  openSuggestionModal(selected);\n}\n\nfunction openSuggestionModal(suggestion) {\n  modalSuggestion = suggestion;\n  document.getElementById(\"modalEntity\").textContent = suggestion.entity_id || \"\";\n  document.getElementById(\"aliasInput\").value = suggestion.suggested_alias || \"\";\n\n  const approveBtn = document.getElementById(\"modalApproveBtn\");\n  const rejectBtn = document.getElementById(\"modalRejectBtn\");\n\n  approveBtn.onclick = async () => {\n    const alias = document.getElementById(\"aliasInput\").value.trim();\n    const base = `approve device ${suggestion.entity_id}`;\n    const command = alias ? `${base} as ${alias}` : base;\n    const ok = await postCommand(command, true);\n    if (ok) closeSuggestionModal();\n  };\n\n  rejectBtn.onclick = async () => {\n    const command = `reject device ${suggestion.entity_id}`;\n    const ok = await postCommand(command, true);\n    if (ok) closeSuggestionModal();\n  };\n\n  document.getElementById(\"suggestionModalBackdrop\").style.display = \"flex\";\n  enforceLock();\n}\n\nasync function quickRejectByIndex(index) {\n  const s = suggestions[index];\n  if (!s) return;\n  await postCommand(`reject device ${s.entity_id}`, true);\n}\n\nfunction closeSuggestionModal(event) {\n  if (event && event.target && event.target.id !== \"suggestionModalBackdrop\") return;\n  modalSuggestion = null;\n  document.getElementById(\"suggestionModalBackdrop\").style.display = \"none\";\n}\n\nfunction renderCapabilities(result) {\n  const capEl = document.getElementById(\"capabilities\");\n  if (!capEl) return;\n  if (result && result.action === \"capabilities\" && Array.isArray(result.capabilities)) {\n    if (!result.capabilities.length) {\n      capEl.className = \"hint\";\n      capEl.textContent = \"No capabilities found.\";\n      return;\n    }\n    const lines = result.capabilities.map((row) => {\n      const target = row.target || row.entity_id || \"device\";\n      const actions = Array.isArray(row.supported_actions) ? row.supported_actions.join(\", \") : \"none\";\n      const allowed = row.allowed === true ? \"allowed\" : \"not allowed\";\n      return `${target}: ${actions} (${allowed})`;\n    });\n    capEl.className = \"mono\";\n    capEl.textContent = lines.join(\"\\n\");\n    return;\n  }\n  capEl.className = \"hint\";\n  capEl.textContent = \"Ask: what can xiaomi fan do? or what devices do you control?\";\n}\n\nfunction formatTargetLabel(step, result) {\n  if (step && step.entity_alias) return step.entity_alias;\n  if (step && Number(step.outlet) > 0) return `plug ${step.outlet}`;\n  if (result && Number(result.outlet) > 0) return `plug ${result.outlet}`;\n  if (result && result.entity_id && result.entity_id !== \"none\") return result.entity_id;\n  return \"device\";\n}\n\nfunction formatActionFriendly(result) {\n  const action = String(result.action || \"\").toLowerCase();\n  const firstStep = Array.isArray(result.steps) && result.steps.length ? result.steps[0] : null;\n  const target = formatTargetLabel(firstStep, result);\n\n  if (action === \"turn_on\") return `Done. I turned on ${target}.`;\n  if (action === \"turn_off\") return `Done. I turned off ${target}.`;\n  if (action === \"set_percentage\") {\n    const pct = firstStep && Number(firstStep.percentage) > 0 ? Number(firstStep.percentage) : null;\n    return pct ? `Done. I set ${target} speed to ${pct}%.` : `Done. I updated ${target} speed.`;\n  }\n  if (action === \"increase_speed\") return `Done. I increased ${target} speed.`;\n  if (action === \"decrease_speed\") return `Done. I decreased ${target} speed.`;\n  if (action === \"oscillate_on\") return `Done. I turned on oscillation for ${target}.`;\n  if (action === \"oscillate_off\") return `Done. I turned off oscillation for ${target}.`;\n  if (action === \"set_preset_mode\") {\n    const preset = firstStep && firstStep.preset_mode ? String(firstStep.preset_mode) : \"preset mode\";\n    return `Done. I set ${target} to ${preset}.`;\n  }\n  if (action === \"approve_device\") return \"Done. I approved that device for control.\";\n  if (action === \"reject_device\") return \"Done. I rejected that device suggestion.\";\n  return \"\";\n}\n\nfunction summarizeResultForChat(result) {\n  if (!result || !result.status) return \"\";\n  const status = String(result.status || \"\").toLowerCase();\n\n  if (result.action === \"capabilities\" && Array.isArray(result.capabilities)) {\n    if (!result.capabilities.length) return \"No capabilities found.\";\n    const lines = result.capabilities.map((row) => {\n      const target = row.target || row.entity_id || \"device\";\n      const actions = Array.isArray(row.supported_actions) ? row.supported_actions.join(\", \") : \"none\";\n      const allowed = row.allowed ? \"allowed\" : \"not allowed\";\n      return `- ${target}: ${actions}${allowed === \"allowed\" ? \"\" : \" (not allowed)\"}`;\n    });\n    return `Here is what I can control right now:\\n${lines.join(\"\\n\")}`;\n  }\n\n  if (result.event === \"device_suggestion\") {\n    return `New device found: ${result.entity_id || \"unknown\"}\\nSuggested alias: ${result.suggested_alias || \"device\"}`;\n  }\n\n  if (status === \"executed\") {\n    const friendly = formatActionFriendly(result);\n    if (friendly) return friendly;\n    return \"Done.\";\n  }\n\n  if (status === \"rejected\") {\n    const detail = String(result.detail || \"\").trim();\n    return detail ? `I could not do that: ${detail}` : \"I could not do that.\";\n  }\n\n  if (status === \"failed\") {\n    const detail = String(result.detail || \"\").trim();\n    return detail ? `That failed: ${detail}` : \"That failed.\";\n  }\n\n  return String(result.detail || \"No result yet\");\n}\n\nasync function refreshState() {\n  let result = { status: \"idle\", detail: \"No result yet\" };\n  let modeData = { mode: \"auto\" };\n\n  try {\n    const resultRes = await fetch(\"/ai-result\");\n    result = await resultRes.json();\n  } catch (err) {\n    result = { status: \"failed\", detail: `Failed to load result: ${err}` };\n  }\n\n  try {\n    const modeRes = await fetch(\"/ai-mode\");\n    modeData = await modeRes.json();\n  } catch (err) {\n    modeData = { mode: \"auto\" };\n  }\n\n  const badge = document.getElementById(\"modeBadge\");\n  if (badge) {\n    badge.textContent = `Mode: ${modeData.mode || \"auto\"}`;\n    badge.className = `badge mode-${modeData.mode || \"auto\"}`;\n  }\n\n  if (result && result.event === \"device_suggestion\" && result.entity_id) {\n    addSuggestion(result);\n  } else {\n    lastActionResult = result;\n  }\n\n  const displayResult = lastActionResult || result;\n\n  const statusEl = document.getElementById(\"lastStatus\");\n  if (statusEl) {\n    statusEl.textContent = JSON.stringify(displayResult, null, 2);\n    if (displayResult && displayResult.status === \"executed\") statusEl.className = \"mono status-ok\";\n    else if (displayResult && displayResult.status === \"failed\") statusEl.className = \"mono status-bad\";\n    else if (displayResult && displayResult.status === \"rejected\") statusEl.className = \"mono status-warn\";\n    else statusEl.className = \"mono\";\n  }\n\n  renderCapabilities(displayResult || {});\n\n  const signature = JSON.stringify({\n    time: displayResult && displayResult.time,\n    command: displayResult && displayResult.command,\n    status: displayResult && displayResult.status,\n    action: displayResult && displayResult.action,\n    event: displayResult && displayResult.event\n  });\n\n  if (signature !== lastRenderedSignature && displayResult && displayResult.status) {\n    const chatText = summarizeResultForChat(displayResult);\n    if (chatText) {\n      pushChat(\"assistant\", chatText, \"assistant\");\n    }\n    lastRenderedSignature = signature;\n  }\n\n  if (lastQueuedCommand && displayResult && displayResult.command === lastQueuedCommand) {\n    if (displayResult.status === \"executed\") setSubmitStatus(`Done: ${lastQueuedCommand}`, \"ok\");\n    else if (displayResult.status === \"rejected\") setSubmitStatus(`Rejected: ${displayResult.detail || lastQueuedCommand}`, \"warn\");\n    else if (displayResult.status === \"failed\") setSubmitStatus(`Failed: ${displayResult.detail || lastQueuedCommand}`, \"bad\");\n  }\n\n  enforceLock();\n}\n\nsetInterval(refreshState, 2000);\nrefreshState();\n</script>\n</body>\n</html>\r\n",
    "output": "str",
    "x": 350,
    "y": 100,
    "wires": [
      [
        "db86352fa72144b8"
      ]
    ]
  },
  {
    "id": "db86352fa72144b8",
    "type": "http response",
    "z": "b7c6b2ee8f4047c1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 550,
    "y": 100,
    "wires": []
  },
  {
    "id": "d8d027c0e6f740c8",
    "type": "http in",
    "z": "b7c6b2ee8f4047c1",
    "name": "POST /ai-command",
    "url": "/ai-command",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 180,
    "wires": [
      [
        "9f3e7f8f8e4343f8"
      ]
    ]
  },
  {
    "id": "9f3e7f8f8e4343f8",
    "type": "json",
    "z": "b7c6b2ee8f4047c1",
    "name": "parse body",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 340,
    "y": 180,
    "wires": [
      [
        "bb2f92e6d96e4e85"
      ]
    ]
  },
  {
    "id": "bb2f92e6d96e4e85",
    "type": "function",
    "z": "b7c6b2ee8f4047c1",
    "name": "build command + ack",
    "func": "const body = msg.payload || {};\nconst command = String(body.command || '').trim();\nconst source = String(body.source || 'node_red').trim() || 'node_red';\nconst confirm = !!body.confirm;\nif (!command) {\n    const bad = {\n        payload: { ok: false, error: 'command required' },\n        statusCode: 400,\n        req: msg.req,\n        res: msg.res\n    };\n    return [null, bad];\n}\nconst cmd = {\n    command,\n    source,\n    confirm\n};\nconst toMqtt = {\n    topic: 'home/ai/command',\n    payload: JSON.stringify(cmd)\n};\nconst ack = {\n    payload: {\n        ok: true,\n        queued: true,\n        command,\n        source,\n        confirm\n    },\n    req: msg.req,\n    res: msg.res\n};\nreturn [toMqtt, ack];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 180,
    "wires": [
      [
        "a0264b025f154269"
      ],
      [
        "f4ddb95ff28f45fb"
      ]
    ]
  },
  {
    "id": "a0264b025f154269",
    "type": "mqtt out",
    "z": "b7c6b2ee8f4047c1",
    "name": "publish command",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "f14d2a1c9e2a45cf",
    "x": 790,
    "y": 160,
    "wires": []
  },
  {
    "id": "f4ddb95ff28f45fb",
    "type": "http response",
    "z": "b7c6b2ee8f4047c1",
    "name": "command ack",
    "statusCode": "",
    "headers": {},
    "x": 770,
    "y": 210,
    "wires": []
  },
  {
    "id": "5c7309e7ba3a4a12",
    "type": "mqtt in",
    "z": "b7c6b2ee8f4047c1",
    "name": "result stream",
    "topic": "home/ai/action_result",
    "qos": "0",
    "datatype": "auto",
    "broker": "f14d2a1c9e2a45cf",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 280,
    "wires": [
      [
        "e3fe17dc75ec4d6a"
      ]
    ]
  },
  {
    "id": "e3fe17dc75ec4d6a",
    "type": "json",
    "z": "b7c6b2ee8f4047c1",
    "name": "parse result",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 280,
    "wires": [
      [
        "f7ec5764386f45fd"
      ]
    ]
  },
  {
    "id": "f7ec5764386f45fd",
    "type": "function",
    "z": "b7c6b2ee8f4047c1",
    "name": "store last result",
    "func": "flow.set('ai_last_result', msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 280,
    "wires": [
      [
        "6dd3bf26f2df4ca8"
      ]
    ]
  },
  {
    "id": "6dd3bf26f2df4ca8",
    "type": "debug",
    "z": "b7c6b2ee8f4047c1",
    "name": "result debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 280,
    "wires": []
  },
  {
    "id": "c65073963ecf4b7d",
    "type": "http in",
    "z": "b7c6b2ee8f4047c1",
    "name": "GET /ai-result",
    "url": "/ai-result",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 350,
    "wires": [
      [
        "b470fd7b555e4511"
      ]
    ]
  },
  {
    "id": "b470fd7b555e4511",
    "type": "function",
    "z": "b7c6b2ee8f4047c1",
    "name": "read last result",
    "func": "const value = flow.get('ai_last_result') || { status: 'idle', detail: 'No result yet' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify(value);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 350,
    "wires": [
      [
        "03ad03ca106f4719"
      ]
    ]
  },
  {
    "id": "03ad03ca106f4719",
    "type": "http response",
    "z": "b7c6b2ee8f4047c1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 550,
    "y": 350,
    "wires": []
  },
  {
    "id": "f31f074ec9f144ea",
    "type": "mqtt in",
    "z": "b7c6b2ee8f4047c1",
    "name": "mode stream",
    "topic": "home/ai/mode",
    "qos": "0",
    "datatype": "auto",
    "broker": "f14d2a1c9e2a45cf",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 420,
    "wires": [
      [
        "54e15d4046d84e15"
      ]
    ]
  },
  {
    "id": "54e15d4046d84e15",
    "type": "json",
    "z": "b7c6b2ee8f4047c1",
    "name": "parse mode",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 320,
    "y": 420,
    "wires": [
      [
        "7e4571f73900480e"
      ]
    ]
  },
  {
    "id": "7e4571f73900480e",
    "type": "function",
    "z": "b7c6b2ee8f4047c1",
    "name": "store mode",
    "func": "flow.set('ai_mode', msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 420,
    "wires": [
      [
        "52807ecfa8254455"
      ]
    ]
  },
  {
    "id": "52807ecfa8254455",
    "type": "debug",
    "z": "b7c6b2ee8f4047c1",
    "name": "mode debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 420,
    "wires": []
  },
  {
    "id": "27df5d52f2cb42ac",
    "type": "http in",
    "z": "b7c6b2ee8f4047c1",
    "name": "POST /ai-mode",
    "url": "/ai-mode",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 500,
    "wires": [
      [
        "a4f0f7f5f2d84908"
      ]
    ]
  },
  {
    "id": "a4f0f7f5f2d84908",
    "type": "json",
    "z": "b7c6b2ee8f4047c1",
    "name": "parse mode body",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 500,
    "wires": [
      [
        "0a6166f8627f4f6e"
      ]
    ]
  },
  {
    "id": "0a6166f8627f4f6e",
    "type": "function",
    "z": "b7c6b2ee8f4047c1",
    "name": "validate + publish mode",
    "func": "const mode = String((msg.payload || {}).mode || '').trim().toLowerCase();\nif (!['suggest', 'ask', 'auto'].includes(mode)) {\n    return [null, {\n        payload: { ok: false, error: 'mode must be suggest|ask|auto' },\n        statusCode: 400,\n        req: msg.req,\n        res: msg.res\n    }];\n}\nconst out = { topic: 'home/ai/mode/set', payload: mode };\nconst ack = {\n    payload: { ok: true, mode },\n    req: msg.req,\n    res: msg.res\n};\nreturn [out, ack];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 500,
    "wires": [
      [
        "888fe53f4a4f44a9"
      ],
      [
        "b625e286bf184c7f"
      ]
    ]
  },
  {
    "id": "888fe53f4a4f44a9",
    "type": "mqtt out",
    "z": "b7c6b2ee8f4047c1",
    "name": "publish mode set",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "f14d2a1c9e2a45cf",
    "x": 790,
    "y": 480,
    "wires": []
  },
  {
    "id": "b625e286bf184c7f",
    "type": "http response",
    "z": "b7c6b2ee8f4047c1",
    "name": "mode ack",
    "statusCode": "",
    "headers": {},
    "x": 780,
    "y": 530,
    "wires": []
  },
  {
    "id": "51e638f0f8894a8e",
    "type": "http in",
    "z": "b7c6b2ee8f4047c1",
    "name": "GET /ai-mode",
    "url": "/ai-mode",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 570,
    "wires": [
      [
        "4f2480124ac44de7"
      ]
    ]
  },
  {
    "id": "4f2480124ac44de7",
    "type": "function",
    "z": "b7c6b2ee8f4047c1",
    "name": "read mode",
    "func": "const mode = flow.get('ai_mode') || { mode: 'auto', detail: 'default' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify(mode);\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 570,
    "wires": [
      [
        "f7e7347cf77e41a4"
      ]
    ]
  },
  {
    "id": "f7e7347cf77e41a4",
    "type": "http response",
    "z": "b7c6b2ee8f4047c1",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 550,
    "y": 570,
    "wires": []
  }
]